body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars from appearing */
}

#container {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}
